@model code.ViewModels.MovieViewModel
@{
    ViewBag.title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var className = Model.Customers.Count >0 ? "popular" : null;
}

<h2 class=@className >@Model.Movie.Name</h2>

@if (@Model.Customers.Count == 0)
{
    <p> no one has rented this movie yet.</p>
}
else
{
    <ul>
        @foreach (var customer in Model.Customers)
        {
            <li>
                @Html.ActionLink(customer.Name, "customerContent", new{ Id = customer.Id });
            </li>
        }
        
    </ul>
}

